@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer components {
  .hover-element {
    @apply p-5 rounded-3xl transition-all duration-300 ease-linear cursor-pointer
  }
  body {
    @apply bg-slate-900
  }
  .small-section-title-container {
    @apply lg:hidden sticky top-0 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur z-20
  }
  .small-section-title {
    @apply  text-3xl  font-bold uppercase  
  }
  .nav-link {
    @apply text-white text-xl transition-all duration-100 ease-linear hover:text-2xl
  }
  .active-section {
    @apply text-3xl
  }
}
.small-section-title-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.hover-element:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

*, html {

  scroll-behavior: smooth !important;
}

.mouse-radial {
  background: radial-gradient(600px at 603px 348px, rgba(29, 78, 216, 0.15), transparent 80%);
}
